
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
	
	main{
		min-height: 1594px;
		width: 810px;
		margin-left: 345px;
		margin-top: 190px;
		text-align: left;
	}
	.h1{font-family: "Lato";
		font-display: swap;
		font-style: normal;
		font-weight: 900;
		font-size: 46px;
		line-height: 130%;
		display: flex;

	}
	.img{height: 360px;
		margin-top: 92px;
		border-radius: 4px;
	}
	.first{font-family: "Lato";
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 150%;
		margin-top: 60px;
	}
	.text{font-family: "Lato";
		font-style: normal;
		font-size: 16px;
		font-weight: 400;
		line-height: 160%;
		margin-top: 24px;
		margin-bottom: 48px;
	} 
	.p1{padding-bottom: 26px;
	}
	.second{
		font-family: "Lato";
		font-weight: 700;
		font-size: 20px;
		line-height: 150%;
		padding-left: 58px;
		width: 752px;
		margin-bottom: 48px;
	}
	.textone{
		font-family: "Lato";
		font-style: normal;
		font-size: 16px;
		font-weight: 400;
		line-height: 160%;
		margin-bottom: 24px;
	}
	.list{
		font-family: "Lato";
		font-size: 16px;
		font-weight: 400;
		max-width: 600px;
		gap: 4px;
		line-height: 150%;
		padding-left: 32px;
	}
	.homeone{font-family: "Lato";
		font-weight: 900;
		font-size: 28px;
		overflow:scroll auto;
		height: 90px;
		margin-bottom: 50px;
		border-top: dotted;
		border-bottom: double;
		border-left: dashed;
		border-right: none;
		border-radius: 30px 20px 15px 35px;
}
	.home{
		font-family: "Lato";
		font-size: 21px;
		border: 5px solid red;
		margin-bottom: 50px;
	}
	.bottom{
		border-radius: 50%;
		height: 70px;
		width: 70px;
		background-color: red;
		box-shadow: 20px 15px 10px 15px yellow;
		margin: 50px;
	}
.homehome{
	font-family: "Lato";
	font-size: 55px;
	font-weight: 900;
	text-align: center;
}

